* {
  box-sizing: border-box;
  font-family: 'Verdana', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: 'Verdana', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D4DFEB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #868fba;
  padding: 8px 18px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 1px 1px 8px 0 #1412693d;
  transition: 0.2s;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #6671a2;
  outline: none;
}

.btn:disabled {
  background-color: #6671a2;
}

.pointer {
  cursor: pointer;
}
